main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/ds2bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
