footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: aquamarine;
    background-image: url("../images/ds2bg.jpg");
    background-size: 100vw 100vh;
}
 